<nav id="nav">
    <div class="brand-logo right">
        <%= link_to image_tag("tep_logo4.png", alt: "logo"), '/' %>
    </div>
  <div class="container">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'Items', items_path, :class => current_class?(items_path) %></li>
        <li><%= link_to 'Item Form', new_item_path, :class => current_class?(new_item_path) %></li>
        <li><%= link_to 'Orders', orders_path, :class => current_class?(orders_path)%></li>
        <li><%= link_to 'Teacher Shopping Form', new_order_path, :class => current_class?(new_order_path) %></li>
    </ul>
  </div>
</nav>