<nav id="nav">
    <div class="brand-logo left">
        <%= link_to image_tag("tep_logo4.png", alt: "logo"), '/' %>
    </div>

    <div class="container">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><%= link_to 'Checkout', new_order_path, :class => current_class?(new_order_path) %></li>
            <li><%= link_to 'Orders', orders_path, :class => current_class?(orders_path)%></li>
            <li><%= link_to 'Items', items_path, :class => current_class?(items_path) %></li>
            <li><%= link_to 'Sync to Salesforce', sync_path, :class => current_class?(sync_path) %></li>
        </ul>
    </div>
    <ul class="right hide-on-med-and-down">
        <!-- Already logged in; hardcoded username -->
        <!-- <li id="username">Catherine Price (Admin)</li>
        <li><%= link_to 'Logout'%></li> -->

        <!-- Need to login -->
        <li><%= link_to 'Login', login_path %></li>
>>>>>>> f4d94fc98a8e4aaae1451728c1eb454455f2d2fb
    </ul>
</nav>