<nav id="nav">
    <div class="brand-logo left">
        <%= link_to image_tag("tep_logo4.png", alt: "logo"), '/' %>
    </div>

    <div class="container">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><%= link_to 'Checkout', new_order_path, :class => current_class?(new_order_path) %></li>
            <li><%= link_to 'Orders', orders_path, :class => current_class?(orders_path)%></li>
            <li><%= link_to 'Items', items_path, :class => current_class?(items_path) %></li>
            <li><%= link_to 'Sync to Salesforce', sync_path, :class => current_class?(sync_path) %></li>
        </ul>
    </div>
    <ul class="right hide-on-med-and-down">
        <% if logged_in? %>
            <li id="username"><%= current_user.first_name %> <%= current_user.first_name %> (<%= current_user.role %>)</li>
            <li><%= link_to 'Logout', logout_path %></li>
        <% else %>
            <li><%= link_to 'Login', login_path %></li>
        <% end %>
    </ul>
</nav>