<%= simple_nested_form_for @order,:html => { :class => 'form-horizontal' } do |order_form| %>
    <%= order_form.error_notification %>
    <div class="row">

        <fieldset>
            <%= order_form.input :teacher_id, collection: Teacher.alphabetical.all,required: true, label_html: {class: "active"} %>
            <%= order_form.input :user_id, as: :integer, required: true %>
            <%= order_form.input :shopping_date, as: :string %>
        </fieldset>
    </div>

    <div class="row">
    <fieldset>
        <legend> Add order item quantities here </legend>

        <% @items.each do |i| %>
            <%=order_form.simple_fields_for :order_items do |oi_form| %>
                <%= i.name%>
                <%= oi_form.input :item_id, as: :hidden, input_html: { value: i.id } %>
                <%= oi_form.input :quantity, as: :integer, input_html: {min: '0', max: i.max_packs}, label_html: {class: "active"} %>
            <%end%>
        <% end %>
        <%= order_form.link_to_add "Add Order Item", :order_items %>
        
    </fieldset>
    </div>
    <div class="row">
        <div class="form-actions col s8">
            <%= order_form.button :submit %>
            <%= link_to 'Cancel', orders_path, class: 'button alert radius' %>
        </div>
    </div>
<% end %>

