<%= simple_nested_form_for @order,:html => { :class => 'form-horizontal' } do |order_form| %>
    <%= order_form.error_notification %>
    <div class="row">

        <fieldset>
            <%= order_form.input :teacher_id, collection: Teacher.alphabetical.to_a, required: true %>
        </fieldset>
    </div>

    <div class="row">
        <fieldset>
            <legend> Add item quantities here </legend>
            <%=order_form.simple_fields_for :order_item do |item_form| %>
                <%= f.input :quantity, label: "Item", input_html: { class: "items"}%>
                
                <!-- < render "item_fields", :f => item_form > -->
                
            <%end%>
        </fieldset>
        
    </div>
    <div class="row">
        <div class="form-actions col s8">
            <%= order_form.button :submit %>
        </div>
    </div>
<% end %>