<div class="card">
  <div class="card-content">
    <div class="row">
    <h5 class="col s11">Information for Order from <%= @order.created_at.strftime(" %B %d, %Y") %> </h5> 

    <div class="col s1">
      <i class="material-icons"><%= link_to('edit', edit_order_path(@order))%></i>
    </div>
    </div>
    </br>

    <b>Teacher:&nbsp;&nbsp;</b>
      <%= link_to @order.teacher.name, teacher_path(@order.teacher) %><br />
    <b>School:&nbsp;&nbsp;</b>
      <%= link_to @order.teacher.school.name, school_path(@order.teacher.school) %><br />
    <b>Semester:&nbsp;&nbsp;</b>
      <%= "Spring 2018" %><br />
    <b>Shopped on:&nbsp;&nbsp;</b>
      <%= @order.shopping_date.strftime("%m/%d/%y") %><br />
    <b>Entered on:&nbsp;&nbsp;</b>
      <%= @order.date_entered.strftime("%m/%d/%y") %><br />
    <b>Entered by:&nbsp;&nbsp;</b>
      <%= @order.user.name %><br />
    <b>Uploaded to Salesforce?:&nbsp;&nbsp;</b>
      <%= @order.uploaded ? "Yes" : "No" %><br />
  </div>
</div>