<table class="highlight"> 
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>School</th>
            <th>Date</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Outgoing POS</th>
            <th>Uploaded</th>
        </tr>
    </thead>
    <% for order in @orders %>
        <% for order_item in order.order_items %>
    <tr>
        <td><i class="material-icons"><%= link_to('search', order_path(order))%></i></td>
        <td><%= link_to( order.teacher.name, teacher_path(order.teacher)) %></td>
        <% if order.teacher.belongs_to_valid_school? %>
          <td><%= link_to order.teacher.school.name, school_path(order.teacher.school) %></td>
        <% else %> 
          <td><%= "No valid school found" %></td>
        <% end %>
        <td><%= order.shopping_date.strftime("%m/%d/%y") %></td>
        <td><%= order_item.item.name %></td>
        <td class="blue-text"><%= best_in_place_if current_user.role=="admin" && !order.uploaded, order_item, :quantity, as: :input %></td>
        <td><%= order_item.item.try(:pos_trans_id) || "NA" %></td> 
        <td><%= order.uploaded ? "Yes" : "No" %></td>
     </tr>
     <% end %>
    <% end %>
    <%= will_paginate @orders, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next", class: "digg_pagination right" %>
</table>