
<h1>All Teacher Orders</h1>
<% if @orders.empty? %>
    <p>No orders in the system right now :(</p>
<% else %>

<table class="highlight"> 
    <thead>
        <th>Name</th>
        <th>School</th>
        <th>Shopping Date</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Semester</th>
        <th>Date Entered</th>
    </thead>
    <% for order in @orders %>
        <tr>
            <td><%= link_to( order.teacher.name, order_path(order.teacher)) %></td>
            <td><%= link_to( order.teacher.school.name, order_path(order.teacher)) %></td>
            <td><%= order.shopping_date %></td>
            <td><%= link_to(order.item.name, order_path(order.item)) %></td>
            <td><%= order.quantity %></td>
            <td><%= order.date_entered %></td>
        </tr>
    <% end %>

</table>
<% end %>
