<div class="card">
  <div class="card-content">
    <h5>Information about <%= @teacher.name %></h5><br />

    <b>Name:&nbsp;&nbsp;</b>
      <%= @teacher.name %><br />

    <b>School:&nbsp;&nbsp;</b>
      <%= link_to @teacher.school.name, school_path(@teacher.school) %><br />

    <b>Title:&nbsp;&nbsp;</b>
    <%= if @teacher.has_attribute? :title then @teacher.title end%><br />

    <b>Email:&nbsp;&nbsp;</b>
      <%= @teacher.email %><br />

    <b>Phone Number:&nbsp;&nbsp;</b>
      <%= @teacher.phone %><br />
  </div>
</div> 
