<div class="card">
<div class="card-content">
<h1>Items</h1>

<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Maximum Packs</th>
      <th>Quantity per Unit</th>
      <th>POS Transaction</th>
      <th>Carton SFID</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.max_packs %></td>
        <td><%= item.qty_per_unit %></td>
        <td><%= item.pos_trans_id %></td>
        <td><%= item.carton %></td>
        <td><%= item.active %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>
</div>
</div>