<!DOCTYPE html>
<html>
  <head>
    <title>DataCat</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <%= favicon_link_tag 'datacat.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
  </head>
  <body>
    <header>
      <%= render :partial => "partials/nav" %>
    </header>
    <main>
    <%# GRID LAYOUT %>
    <div class=row>
      <div class="col s9 offset-s2">

        <%= render :partial => "partials/flash" %>
        <%= yield %>

      </div>
    </div>
  </main>

  </body>

  <%= render :partial => "partials/footer" %>
  <%= javascript_include_tag 'application' %>
</html>
