<!DOCTYPE html>
<html>
  <head>
    <title>TepSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="nav">
      <ul>
        <li><%= link_to 'Data Entry Form', form_path %></li>
        <li><%= link_to 'Core Items', items_path %></li>
        <li><%= link_to 'Transactions', transactions_path %></li>
      </ul>
    </div> 
    <%= yield %>
  </body>
</html>
